{% load static %}
<footer class="bg-dark py-5 mt-5">
  <div class="container text-light text-center">
    <p class="display-5"><img src="{% static 'img/favicon.png' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
    KaterinaPro.com</p>
    <small class="text-white-50">&copy; Copyright by grenkoff. All rights reserved.</small>
  </div>
</footer>

<!-- <a class="navbar-brand fs-4" href="">
  <img src="{% static 'img/favicon.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
  KaterinaPro.com
</a> -->